@font-face {
    font-family: Lucida sans typewriter;
    src: url(img/myfont.ttf)
}

body { margin: 0; font-size: 100%; font-family: Lucida sans typewriter; }


#logobar {
  background-color: #adadad;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}


#navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  background-color: #adadad;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

#navbar li {
  padding: 10px 30px 10px 30px;
}

#navbar img {
  max-width: 100%;
  height: auto;
  width: 70%;
 
}

#user {
  width: 40%;
  margin: 80px 30% 50px 30%;
  display: flex;
}
#profile {
  width: 120px;
  height: auto;
  margin: 0 40px 20px 0;
}

.gallery {
  display: flex;
  align-content: flex-start;
  width: 60%;
  margin: 0 20% 100px 20%;
  flex-wrap: wrap;
}
.gallery-item {
  border: 2px solid black;
  width: 30%;
  margin: 0 10px 20px 0;
  /*flex-basis: 30%;*/
}
.gallery-item img {
  width: 100%;
}



@media only screen and (max-width: 768px) {
  body { font-size: 0.8em; }
  #logobar { display: none; } 
  
  #user {
    width: 90%;
    margin: 30px 5% 20px 5%;
    display: flex;
  }
  #profile {
    margin-right: 0;
  }
  #profile img {
    width: 80%;
  }

  .gallery {
    width: 90%;
    margin: 0 5% 100px 5%;
  }
  .gallery-item {
    width: 100%;
  }

}
