@font-face {
    font-family: Lucida sans typewriter;
    src: url(img/myfont.ttf)
  }
  
body { margin: 0; font-size: 100%; font-family: Lucida sans typewriter; }

#navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  background-color: #FFCAA8;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

#navbar li {
  padding: 10px 30px 10px 30px;
}

#navbar img {
  max-width: 100%;
  height: auto;
  width: 70%;
 
}

article {
    border: 2px solid black;
    margin: 10% 0 5% 0;
  }
  .image {
    width: 100%;
    height: auto;
  }

  #logobar {
    display: none;
  }
  #gallery {
    margin-bottom: 20%;  
  }
  /*article footer {
    font-family: 
  }*/

@media only screen and (min-width: 768px) {

  article {
    border: 2px solid black;
    margin: 100px 20% 150px 20%;
  }
  .image {
    width: 100%;
    height: auto;
  }

  #logobar {
    background-color: #FFCAA8;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #logobar img {
    width: 6%;
    height: 5%;
    margin: 5px 47% 5px 47%;
  }

}