
@font-face {
    font-family: Lucida sans typewriter;
    src: url(img/myfont.ttf)
}

body { margin: 0; font-size: 100%; }

#searchbar {
  margin-top: 100px;
}

#searchbar p {
  text-align: center;
  font-family: Lucida sans typewriter;
  font-weight: bold;
  color: #E35813;
}

input[type=search] {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('img/searchicon.png');
    background-position: -5px -5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

button {
  border-radius: 4px;
  background-color: #EB9035;
  cursor: pointer;
  font-family: Lucida sans typewriter;
  font-size: 1.25em;
  color: white;
  width: 10%;
  margin: 20px 0 0 45%;
  padding: 5px;
}

button:hover { background-color: #E35813; }

#logobar {
  background-color: #FFCAA8;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
#logobar img {
  width: 6%;
  height: 5%;
  margin: 5px 47% 5px 47%;
}
/*#tags {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 25% 20px 25%;
}

#tags li {
  background: #454545;
  padding: 5px;
  width: 200px;
  height: 100px;
  margin: 10px;
  
  border-radius: 4px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-family: Lucida sans typewriter;
  text-align: center;
}
*/
#navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  background-color: #FFCAA8;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

#navbar li {
  padding: 10px 30px 10px 30px;
}

#navbar img {
  max-width: 100%;
  height: auto;
  width: 70%;
 
}

#instafeed {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 50px 10% 200px 10%;
  justify-content: space-around;

} 

#instafeed a img {
  width: 200px;
  margin: 20px 10px 20px 10px;
}

@media only screen and (max-width: 768px) {
  
  #logobar { display: none; } 
  
  #searchbar { margin-top: 5%; }
  
  input[type=search] {
    width: 100%;
    margin: 0;
    border: none;
    font-size: 16px;
    background-color: #CFCFCF;
    background-image: url('img/searchicon.png');
    background-position: -5px -5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  #instafeed {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 50px 0 10% 0;

  } 
}
